.sidebar {
  background-image: url(../images/underwater-side-bg.jpg);
  background-position: -16%;
  position: relative;
  & > div {
    padding: 3rem 2rem;
    color: rgba(255, 255, 255, 0.7);
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    // border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    & > div {
      margin-bottom: 3rem;
    }
  }

  h5 {
    color: white;
  }
  p {
    margin: 1.2rem 0;
  }
  svg {
    // margin-top: 21.28px;
    fill: white;
    stroke: white;
    position: absolute;
    bottom: 3rem;
  }
}
